<div class="upper-content">
  <div class="two">
    <app-filters [travels]="travels" [minimalPrice]="minimalPrice" [maximalPrice]="maximalPrice" [Countries]="CountriesToSendToFilter"
    (newMinPrice)="newMinPriceFromFilter($event)"
    (newMaxPrice)="newMaxPriceFromFilter($event)"
    (newCountries)="newChoosenCountries($event)"
    (newStartDate)="newStartDate($event)"
    (newEndDate)="newEndDate($event)"
    ></app-filters>
  </div>

</div>

<div class="travels-wrapper">
  <ng-container *ngFor='let travel of travels; let i = index'>
    <ng-container *ngIf="travelValidationWithFilters(travel)">
      <div class="travel" [ngStyle]="{'border': minPrice(travel.price) ? '3px solid green': maxPrice(travel.price) ? '3px solid red': 'none' }">

        <div class="photo">
          <img src={{travel.img_link}} alt="picture">
          <br><p class="name"> {{travel.name | uppercase}}</p> <br>
          <div class="travel_date">
            <p>Start: {{travel.start_date | date: 'dd/MM/yyyy'}} </p><br>
            <p>End: {{travel.end_date | date: 'dd/MM/yyyy'}}</p>
          </div>
        </div>

        <div class="main_info">
          <p>Country: {{travel.country | uppercase}}</p>
          <p class="description">{{travel.description}}</p>
          <button class="details" mat-raised-button routerLink="/tourdetails/{{travel.name}}" color='accent' routerLinkActive='active'>Details</button>
        </div>


      </div>
    </ng-container>
  </ng-container>

</div>

